#project{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background: #111;
    color: white;
    padding: 20px;
    .project_m{
        width: 1534px;
        margin: 100px auto 0 auto;
        perspective: 1000px;
        .pro_list{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 20px;
            h2{
                font-size: 90px;
                font-family: Anton, sans-serif;
                margin-right: 100px;
                margin-bottom: 50px;
                letter-spacing: 10px;
                span{
                    border-bottom: 3px double #ddd;
                    text-shadow: 0 2px 3px rgba(255,255,255,.25);
                }
            }
            .pro_item{
                width: 290px;
                height: 370px;
                position: relative;
                margin-right: 60px;
                margin-bottom: 60px;
                padding: 20px;
                h3{
                    font-family: Anton, sans-serif;
                    font-size: 24px;
                    span{

                    }
                }
                p{
                    margin-top: 10px;
                }
                img{
                    width: 200px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    &.detail_photo{
                        position: absolute;
                      /*width: 170px;
                        bottom: 20px; 
                        right: 20px; */
                        width: 175px;
                        bottom: 19px;
                        right: 18px;
                        position: absolute;
                    }
                    &.black{
                        filter: grayscale(100%);
                    }
                }
                
                &.project1{background: #f17373;}
                &.project2{background: #f0871e;}
                &.project3{background: #e6f173;}
                &.project4{background: #79f173;}
                &.project5{background: #73f1eb;}
                &.project6{background: #7386f1;}
                &.project7{background: #e673f1;}
            }
        }
    }
}